{% extends "base.html" %}

{% block content %}
<h1  class="text-center">Департаменты</h1>

{% for department, user in data %}
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Название департамента</th>
      <th scope="col">Руководитель</th>
      <th scope="col">Список участников</th>
      <th scope="col">email департамента</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{department.id}}</th>
        <td>{{ department.title }}</td>
        <td>{{ user.surname }} {{ user.name }}</td>
        <td>{{ department.members }}</td>
        <td>{{ department.email }}</td>
    </tr>
  </tbody>
</table>

    {% if current_user.is_authenticated and
        (current_user.id == department.chief or current_user.id == 1) %}
    <div>
        <a href="/departments/{{ department.id }}" class="btn btn-warning">
            Изменить
        </a>
        <a href="/dep_delete/{{ department.id }}" class="btn btn-danger">
            Удалить
        </a>
    </div>
    {% endif %}

{% endfor %}

{% if current_user.is_authenticated %}
    <p></p>
    <a href="/adddepartment" class="btn btn-secondary">Добавить департамент</a>
{% endif %}

{% endblock %}
